.bt-page {
  &--content {
    &:after {
      content: "";
      display: block;
    }
  }
}
.bt-main-content-ss {
  padding: 105px 0;
  @media (max-width: $break-sm) {
    padding: 75px 0;
  }
}
.bt-sidebar {
  font-size: 16px;
  background: #f1f1f1;
  padding: 30px;
  border-radius: 20px;
  @media (max-width: $break-lg) and (min-width: $break-md) {
    padding: 20px;
  }
}
.bt-main-post-row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .bt-main-post-col {
    width: calc(66.66% - 15px);
  }
  .bt-sidebar-col {
    width: calc(33.33% - 15px);
  }
  @media (max-width: $break-md) {
    flex-direction: column;
    .bt-main-post-col,
    .bt-sidebar-col {
      width: 100%;
    }
  }
}
.bt-list-post {
  display: flex;
  flex-direction: column;
  gap: 52px;
  .bt-post {
    &.sticky {
      background: #f5f5f5;
      padding: 25px 30px;
      border-radius: 20px;
    }
    &--categories {
      .bt-post-cat {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        a {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          background-color: $color-accent;
          border-radius: 5px;
          padding: 4px 11px 5px 15px;
        }
      }
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      margin-bottom: 30px;
      border-radius: 20px;
      a {
        display: inline-block;
        line-height: 0;
      }
      img {
        margin: 0;
        border-radius: 20px;
      }
    }
    &--title {
      font-size: 24px;
      word-break: break-word;
      margin: 18px 0 25px;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 33px;
      a {
        display: inline-block;
      }
    }
    &--meta {
      list-style: none;
      margin: 0 0 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px 32px;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      padding: 17px 33px 17px 23px;
      width: auto;
      max-width: max-content;
      .bt-meta {
        font-size: 16px;
        line-height: 150%;
        color: $color-text;
        display: flex;
        .bt-post-author-w-avatar--name {
          font-weight: 500;
        }

        svg {
          fill: $color-accent;
          height: 16px;
        }
        &--publish {
          svg {
            height: 26px;
          }
        }
        a {
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
  }
  @media (max-width: $break-xs) {
    .bt-post {
      &.sticky {
        padding: 25px 15px;
      }
      &--publish {
        font-size: 14px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      &--title {
        font-size: 22px;
      }
      &--meta .bt-meta {
        font-size: 14px;
      }
    }
  }
}

.bt-pagination {
  @extend .__bt-pagination-style;
}

.single:not(.elementor-editor-active) {
  .bt-post--content {
    @extend .__bt-format-post-content;
    h2 {
      @extend .__bt-block-heading-style;
      padding: 0;
      z-index: 9;
      text-transform: initial;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      &::before {
        z-index: 10;
      }
      &:after {
        content: " ";
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #d9d9d9;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 8;
      }
      code {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
        padding: 0 29px 0 18px;
        position: relative;
        z-index: 9;
        background-color: #fff;
        font-family: $primary-font;
      }
    }
  }
}

.bt-main-post {
  .bt-post {
    &--categories {
      .bt-post-cat {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        a {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          background-color: $color-accent;
          border-radius: 5px;
          padding: 4px 11px 5px 15px;
        }
      }
    }
    &--featured {
      position: relative;
      overflow: hidden;
      line-height: 0;
      margin-bottom: 30px;
      border-radius: 20px;
      a {
        display: inline-block;
        line-height: 0;
      }
      img {
        margin: 0;
        border-radius: 20px;
      }
    }
    &--title {
      font-size: 24px;
      word-break: break-word;
      margin: 18px 0 25px;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 33px;
      a {
        display: inline-block;
      }
    }
    &--meta {
      list-style: none;
      margin: 0 0 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px 32px;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      padding: 17px 33px 17px 23px;
      width: auto;
      max-width: max-content;
      .bt-meta {
        font-size: 16px;
        line-height: 150%;
        color: $color-text;
        display: flex;
        .bt-post-author-w-avatar--name {
          font-weight: 500;
        }

        svg {
          fill: $color-accent;
          height: 16px;
        }
        &--publish {
          svg {
            height: 26px;
          }
        }
        a {
          display: inline-flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
    &--content {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        text-decoration: underline;
      }
      .page-links {
        margin-top: 40px;
      }
    }
  }

  @media (max-width: $break-xs) {
    .bt-post {
      &--publish {
        font-size: 14px;
        svg {
          width: 20px;
          height: auto;
        }
      }
      &--title {
        font-size: 22px;
      }
      &--meta .bt-meta {
        font-size: 14px;
      }
    }
  }
}
.bt-infor-tags-share {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  padding: 10px 24px 11px 30px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  align-items: center;
}
.bt-post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  span {
    display: inline-block;
    color: $color-primary;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }
  a {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: $color-accent;
    border-radius: 5px;
    padding: 4px 11px 5px 15px;
  }
}

.bt-post-share {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  span {
    display: inline-block;
    color: $color-primary;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  a {
    color: $color-text;
    background: #f1f1f1;
    width: 40px;
    height: 40px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &:hover {
      svg {
        fill: $color-accent;
      }
    }
    svg {
      fill: currentColor;
    }
  }
}

.bt-post--featured {
  img {
    transform: scale(1);
    transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.bt-post--excerpt {
  @extend .__bt-max-line-ellipsis;
}

.bt-post--title {
  .elementor & {
    font-size: 22px;
    line-height: 136.364%;
  }

  > a {
    color: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
    &:hover {
      color: $color-accent;
    }
  }
}

.bt-post-author-w-avatar {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 7px;

  &--thumbnail {
    display: flex;
    align-items: center;
    align-content: center;
    img {
      width: 28px;
      .bt-post & {
        height: 28px;
        border-radius: 50%;
      }
    }
  }

  &--name {
    color: $color-text;
    .bt-post & {
      font-size: 16px;
      line-height: normal;
      margin: 0;
    }
  }
}

.bt-post-author {
  display: flex;
  background: #fff;
  margin-top: 70px;
  border-radius: 20px;
  flex-direction: column;
  position: relative;
  &--avatar {
    width: 90px;
    line-height: 0;
    position: absolute;
    left: 38px;
    border: 10px solid #ffff;
    border-radius: 50%;
    top: 20px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &--info {
    width: 100%;
    display: flex;
    border-radius: 20px 20px 0px 0px;
    background: #1fbecd;
    justify-content: space-between;
    padding: 20px 40px 20px 180px;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  &--name {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    .bt-label {
      display: inline-block;
      font-family: $text-font;
      font-size: 16px;
      font-weight: 500;
      color: $color-accent;
    }
  }
  &--desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding: 26px 63px 39px 180px;
    border-radius: 0 0 20px 20px;
    border: 1px solid #dadada;
    border-top: none;
  }
  &--socials {
    @extend .__bt-socials-style;
    gap: 2px;
    span {
      color: #fff;
    }
    a {
      background: transparent !important;
      border: 2px solid #fff;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
    }
  }
  @media (max-width: $break-xs) {
    padding: 30px 15px;
    &--avatar {
      width: 80px;
    }
    &--info {
      width: calc(100% - 100px);
    }
    &--name {
      font-size: 20px;
    }
    &--desc {
      font-size: 16px;
    }
  }
}

.__bt-post-style-default {
  .bt-post {
    &--inner {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      border: 1px solid #dadada;
      border-top: none;
      padding-bottom: 25px;
      &:hover {
        .bt-post {
          &--featured {
            .bt-cover-image {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    &--featured {
      .bt-cover-image {
        padding: 0;
        min-height: 312px;
        border-radius: 20px 20px 0px 0px;
        @media (max-width: $break-xs) {
          min-height: 280px;
        }

        img {
          transform: scale(1);
          transition: all 3s cubic-bezier(0.11, 0.52, 0.53, 0.79) 0s;
        }
      }
    }

    &--content {
      padding: 16px 30px 25px 30px;
      @media (min-width: 992px) and (max-width: 1199.98px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media (max-width: $break-xs) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--auto-detailing {
      margin-top: -35px;
      z-index: 9;
      position: relative;
      a {
        background-color: $color-accent;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        width: 154px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
    }

    &--title {
      margin: 25px 0 0 0;
      a {
        display: inline-block;
      }
    }

    &--info {
      display: flex;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      margin-top: 22px;
      padding: 20px 0;
      align-items: center;
      margin-bottom: 17px;
    }

    &--publish,
    &-author-icon {
      svg {
        width: 100%;
        max-width: 26px;
        height: auto;
        @media (max-width: $break-xs) {
          max-width: 20px;
        }
      }
    }

    &--publish {
      display: flex;
      align-items: center;
      gap: 8px;
      padding-right: 22px;

      @media (max-width: $break-lg) {
        padding-right: 17px;
      }

      @media (max-width: $break-xs) {
        padding-right: 10px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        display: inline-block;
      }

      svg {
        path {
          fill: $color-accent;
        }
      }
    }

    &-author-icon {
      padding: 0 0 0 17px;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      gap: 4px;
      align-items: center;
      border-left: 1px solid #d9d9d9;
      display: flex;
      @media (max-width: $break-xs) {
        padding-left: 10px;
      }

      svg {
        path {
          stroke: $color-accent;
        }
      }

      &--name {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        display: inline-block;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    &--button {
      width: 100%;
      padding-top: 0px;
      position: absolute;
      left: 0;
      bottom: 25px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &:hover {
          svg {
            transform: translateX(5px);
          }
        }

        span {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          color: $color-accent;
        }

        svg {
          transition: $transition;
          path {
            stroke: $color-accent;
          }
        }
      }
    }
  }
}

.__bt-post-style-1 {
  .bt-post {
    &--inner {
      border-radius: 20px 20px;
      border: 1px solid #d9d9d9;
      border-top: none;
    }

    &--warp {
      background: #fff;
      padding: 34px 30px 95px 30px;
      @media (max-width: $break-lg) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--featured {
      .bt-cover-image {
        border-radius: 20px 20px 0px 0px;
      }
    }

    &--publish {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 29px 11px 17px;
      gap: 8px;
      max-width: fit-content;
      background-color: $color-accent;
      border-radius: 10px;
      margin-top: -62px;
      z-index: 9;
      position: relative;
      svg {
        width: 100%;
        max-width: 26px;
        height: auto;
        path {
          fill: #fff;
        }
      }

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        color: #fff;
      }
    }

    &--categories {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 9px;
      &::after {
        content: " ";
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: $color-accent;
        margin-left: 11px;
      }

      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 187.5%;
        color: $color-accent;
      }
    }

    &--excerpt {
      margin-top: 8px;
    }

    &-meta {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #d9d9d9;
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 21px;
      width: 100%;
      max-width: calc(100% - 60px);
      @media (max-width: $break-lg) {
        max-width: calc(100% - 30px);
      }
    }

    &-author-w-avatar,
    &--button {
      padding-top: 12px;
      display: flex;
      align-items: center;
      align-content: center;
    }

    &-author-w-avatar {
      gap: 6px;
      &--thumbnail {
        img {
          width: 34px;
          height: 34px;
        }
      }

      &--name {
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
        color: $color-accent;

        @media (max-width: 359.98px) {
          font-size: 14px;
        }

        span {
          color: $color-text;
        }
      }
    }

    &--button {
      padding-right: 19px;
      padding-left: 35px;
      border-left: 1px solid #d9d9d9;
      @media (max-width: $break-lg) {
        padding-left: 18px;
        padding-right: 18px;
      }

      @media (max-width: 359.98px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      a {
        display: flex;
        align-items: center;
        color: $color-accent;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        gap: 10px;

        @media (max-width: 359.98px) {
          font-size: 15px;
        }

        svg {
          width: 100%;
          height: auto;
          max-width: 24px;
        }
      }
    }
  }
}

.__bt-post-style-2 {
  .bt-post {
    &--inner {
      border-radius: 20px;
      display: flex;

      @media (max-width: $break-sm) {
        flex-wrap: wrap;
      }

      > div {
        width: 50%;
        position: relative;
        @media (max-width: $break-sm) {
          width: 100%;
        }
      }

      &-right {
        border: 1px solid #e1e1e1;
        border-radius: 0px 20px 20px 0px;
        padding: 69px 59px 78px 30px;

        @media (max-width: $break-sm) {
          border-radius: 0 0 20px 20px;
          padding-bottom: 72px;
          padding-top: 68px;
        }

        @media (max-width: $break-xs) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    &--categories {
      position: absolute;
      left: 20px;
      bottom: 20px;
      a {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        background-color: $color-accent;
        border-radius: 5px;
        display: inline-block;
        padding: 4px 11px 5px 15px;
      }
    }

    &--featured {
      height: 100%;
      .bt-cover-image {
        padding-bottom: 0;
        min-height: 300px;
        border-radius: 20px 0px 0px 20px;
        height: 100%;
        @media (max-width: $break-sm) {
          min-height: 280px;
          border-radius: 20px 20px 0 0;
        }
      }
    }

    &--publish,
    &-author-icon {
      svg {
        width: 100%;
        max-width: 16px;
        height: auto;
      }
    }

    &--publish {
      background-color: $color-accent;
      border-radius: 0px 0px 10px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9.3px;
      max-width: fit-content;
      padding: 12px 22.7px 12px 24px;
      position: absolute;
      left: -1px;
      top: -1px;
      svg {
        path {
          fill: #fff;
        }
      }

      span {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
      }
    }

    &--title {
      text-transform: capitalize;
      margin: 0;
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 12px;
      margin-bottom: 14px;
      width: 100%;
      line-height: 150%;

      @media (max-width: $break-md) {
        font-size: 20px;
      }
    }

    &-meta {
      display: flex;
      border-radius: 0px 0px 20px 0px;
      background: #f1f1f1;
      align-items: center;
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: calc(100% + 1px);
      padding: 14px 30px;

      @media (max-width: $break-sm) {
        width: calc(100% + 2px);
        border-radius: 0px 0px 20px 20px;
      }

      @media (max-width: $break-xs) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .bt-post-author-w-avatar {
        padding-right: 18px;
        margin-right: 15px;
        position: relative;
        &::before {
          content: " ";
          display: inline-block;
          width: 1px;
          height: 15px;
          background: #b0b0b0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
        &--name {
          font-weight: 500;
          text-transform: capitalize;
        }
      }
      .bt-reading-time {
        color: $color-text;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        position: relative;
      }
    }
  }
}

.bt-related-posts {
  margin-top: 52px;
  &--heading {
    @extend .__bt-block-heading-style;
    margin-bottom: 30px;
  }
  &--list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @extend .__bt-post-style-default;
    .bt-post {
      width: calc(33.33% - 13.33px);
      @media (max-width: $break-sm) {
        width: 100%;
      }
      .bt-post-author--name {
        margin: 0;
      }
      &--infor {
        padding: 16px 30px 25px 30px;
        @media (min-width: 992px) and (max-width: 1199.98px) {
          padding-left: 15px;
          padding-right: 15px;
        }

        @media (max-width: $break-xs) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      &--title {
        font-size: 22px;
        line-height: 136.364%;
      }
    }
  }
}

.bt-post-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-top: 52px;
  &--item {
    position: relative;
    width: calc(50% - 20px);
    &.bt-prev {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -30px;
        width: 1px;
        height: 100%;
        background: #c7c7c7;
      }
    }
    &.bt-next {
      text-align: right;
      margin-left: 50%;
    }
    &.bt-prev + &.bt-next {
      margin-left: 0;
    }
    span {
      display: block;
      font-family: $primary-font;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    h3 {
      font-size: 24px;
      word-break: break-word;
      margin: 0;
    }
  }
  @media (max-width: $break-sm) {
    &--item {
      span {
        font-size: 13px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  @media (max-width: $break-xs) {
    &--item {
      width: 100%;
      &.bt-prev:before {
        display: none;
      }
      &.bt-next {
        text-align: left;
        margin-left: 0;
      }
    }
  }
}
