.bt-block-recent-posts {
  .bt-post{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 19px;

    @media(max-width: $break-xs) {
      gap: 15px;
    }

    &:not(:last-child){
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #D6D6D6;
    }

    &--thumbnail{
      position: relative;
      .bt-cover-image{
        min-height: 126px;
        min-width: 162px;
        border-radius: 10px;
        @media (max-width: 359.98px) {
          min-width: 135px;
        }
      }
    }

    &--categories{
      position: absolute;
      left: 10px;
      bottom: 10px;
      .bt-post-cat{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;  
      }

      a{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: $color-accent;
        border-radius: 5px;
        padding: 4px 11px 5px 15px;
        @media(max-width: $break-xs) {
          font-size: 14px;
        }

        @media (max-width: 359.98px) {
          font-size: 12px;
        }
      }
    }

    &--title{
      @extend .__bt-max-line-ellipsis;
      text-transform: capitalize;
      word-break: break-word;
      margin: 12px 0 0px 0;

      .elementor  & {
        font-size: 18px;
        line-height: 144.444%;

        @media(max-width: $break-xs) {
          font-size: 16px;
        }
      }

      > a{
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
      }
    }

    &--date{
      display: flex;
      align-items: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: $color-accent;
      gap: 11px;

      @media(max-width: $break-xs) {
        font-size: 14px;
      }

      @media (max-width: 359.98px) {
        font-size: 12px;
      }

      svg{
        width: 100%;
        height: auto;
        max-width: 20px;
        path{
          fill:$color-accent;
        }
      }
    }

    &-author-w-avatar{
      margin-top: 13px;
      &--name{
        font-weight: 500;
        .elementor & {
          @media(max-width: $break-xs) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.bt-block-contact-information {
  .bt-contact-information{
    background: $color-accent;
    border-radius: 10px;
    padding: 36px 30px 36px 30px;

    @media(max-width: $break-xs) {
      padding: 32px 15px;
    }

    &-header{
      display: flex;
      gap: 20px;
      @media(max-width: $break-xs) {
        gap: 10px;
      }

      svg{
        width: 100%;
        height: auto;
        max-width: 50px;
      }
    }

    &--heading{
      font-size: 24px;
      line-height: normal;
      color: #fff;
      margin: 0;
      @media(max-width: $break-xs) {
        font-size: 20px;
      }
    }

    &--desc{
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      margin: 2px 0 0 0 ;
      @media(max-width: $break-xs) {
        font-size: 14px;
      }
    }

    &--form{
      margin-top: 22px;
      .tnp-subscription-minimal {
        @extend .__bt-newsletter-form-style-2;
      }
    }
  }
}

.bt-block-instagram-posts {
  @extend .__instagram-posts-style;
}
