.bt-car-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bt-car-sort-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bt-car-view-block {
    display: flex;
    gap: 10px;
    .bt-view-type {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      &.active {
        background: #f0f2f5;
      }
      svg {
        width: 24px;
        height: auto;
      }
    }
  }
}

.bt-car-sidebar {
  .bt-car-filter-form {
    background: #F1F1F1;
    padding: 20px;
    border-radius: 20px;
  }
  .bt-car-filter-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .bt-form-field {
    background: #FFFFFF;
    border-radius: 15px;
    &.bt-field-type-search {
      position: relative;
      display: flex;
      input {
        width: 100%;
        border-color: #FFFFFF;
      }
      a {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 47px;
        height: 47px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: $color-accent;
        border-radius: 8px;
      }
      svg {
        width: 20px;
        height: auto;
      }
    }
    &.bt-field-type-slider {
      padding: 20px 30px; 
      .bt-field-slider {
        height: 5px;
        background: #FFFFFF;
        margin: 15px 10px;
        border-color: #D9D9D9;
        box-shadow: none;
        .noUi-connect {
          background: $color-accent;
        }
        .noUi-handle {
          top: -8px;
          right: -10px;
          width: 20px;
          height: 20px;
          background: $color-accent;
          border: none;
          border-radius: 100px;
          box-shadow: none;
          &:before,
          &:after {
            display: none;
          }
        }
      }
      .bt-labels-slider {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 150%;
      }
    }
    &.bt-field-type-select {

    }
    &.bt-field-type-multi {
      padding: 20px 30px;
      .bt-field-list {
        @extend .__scrollbar_style;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 210px;
        margin: 12px 0;
      }
      .bt-field-item {
        position: relative;
        font-size: 16px;
        line-height: 150%;
        padding-left: 32px;
        &.checked svg {
          opacity: 1;
        }
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFF;
          border: 1px solid #D9D9D9;
          border-radius: 5px;
        }
        svg {
          fill: $color-accent;
          width: 16px;
          height: auto;
          opacity: 0;
          transition: all .3s;
        }
        a {
          color: inherit;
        }
      }
    }
    .bt-field-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      color: $color-primary;
      margin-bottom: 8px;
    }
  }
  .bt-form-action {

  }
  .bt-reset-btn {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: $color-secondary;
    padding: 15px;
    border-radius: 15px;
    &.disable {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
}

.post-type-archive-car {

}
