.bt-form-rating {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  &__label {
    margin: 0 !important;
  }
  &__field {
    padding: 0;
  }
  &__list {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    input {
      display: none;
    }
    label {
      font-size: 0 !important;
      line-height: 0 !important;
      margin: 0 !important;
      cursor: pointer;
      svg {
        width: 16px;
        height: auto;
        fill: #cdcdcd;
      }
    }
    input:checked ~ label svg,
    input + label:hover ~ label svg,
    input + label:hover svg {
      fill: #efcf0a;
    }
  }
}

.bt-comment-stars {
  display: flex;
  gap: 4px;
  font-size: 0;
  line-height: 0;
  span {
    &.bt-filled svg {
      fill: #efcf0a;
    }
    svg {
      fill: #cdcdcd;
      width: 16px;
      height: auto;
    }
  }
}

.bt-comment-wrapper {
  margin-top: 52px;
  .bt-heading-comment {
    @extend .__bt-block-heading-style;
    margin-bottom: 30px;
    padding: 0;
    z-index: 9;
    text-transform: initial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    &::before {
      z-index: 10;
    }
    &:after {
      content: " ";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #d9d9d9;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8;
    }
    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      padding: 0 29px 0 18px;
      position: relative;
      z-index: 9;
      background-color: #fff;
      font-family: $primary-font;
    }
    @media (max-width: $break-xs) {
      text-align: left;
      code{
        display: inline-block;
      }
    }
  }
  .bt-comment-item {
    .bt-comment-item {
      margin-left: 40px;
    }
  }
  .trackback,
  .pingback {
    .bt-comment {
      .bt-avatar {
        display: none;
      }
    }
    .bt-content {
      width: 100%;
    }
  }
  .bt-comment {
    position: relative;
    margin-top: 20px;
    .bt-avatar {
      width: 90px;
      line-height: 0;
      position: absolute;
      left: 38px;
      border: 10px solid #ffff;
      border-radius: 50%;
      top: 20px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
  .bt-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .bt-meta {
      background-color: $color-accent;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 18px 24px 18px 180px;
      margin: 0;
      border-radius: 20px 20px 0px 0px;
      gap: 15px;
      justify-content: space-between;
      box-sizing: border-box;
      flex-wrap: wrap;
    }
    .bt-infor {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 54px;
    }
    .bt-name {
      font-size: 22px;
      line-height: 24px;
      margin: 0;
      color: #fff;
      font-weight: 700;
      text-transform: capitalize;
    }
    .bt-date {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .bt-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      padding: 26px 63px 39px 180px;
      border-radius: 0 0 20px 20px;
      border: 1px solid #dadada;
      border-top: none;
      width: 100%;
      box-sizing: border-box;
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    .comment-awaiting-moderation {
      color: #fff;
    }
    .comment-reply-link {
      color: #fff;
      font-family: $primary-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border-radius: 8px;
      background: #111;
      padding: 9px 26px;
    }
  }
  .comment-respond {
    margin-top: 50px;
    border-radius: 20px;
    .comment-reply-title {
      border-radius: 20px 20px 0px 0px;
      background: #1fbecd;
      padding: 25px 40px;
      color: #fff;
      font-size: 26px;
      letter-spacing: 0.2px;
      text-transform: initial;
      line-height: normal;
      font-weight: 700;
      margin: 0;
      a {
        text-decoration: underline;
        text-underline-offset: 6px;
        &:hover {
          color: #fff;
        }
      }
      small {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .comment-form {
      display: flex;
      flex-wrap: wrap;
      gap: 23px;
      padding: 39px 40px 46px 39px;
      border-radius: 0 0 20px 20px;
      border: 1px solid #dadada;
      border-top: none;
      .bt-logged-in-as {
        width: 100%;
        a {
          text-decoration: underline;
        }
      }
      .bt-form-author,
      .bt-form-email {
        width: calc(50% - 12px);
      }
      .bt-form-cookies-consent {
        display: flex;
        align-items: baseline;
        gap: 11px;
        label {
          margin: 0;
          color: $color-text;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          @media (max-width: $break-xs) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        input {
          width: 22px;
          height: 22px;
          appearance: none;
          -webkit-appearance: none;
          display: flex;
          align-content: center;
          justify-content: center;
          border: 1px solid #dadada;
          border-radius: 5px;
          position: relative;
          top: 3px;
          @media (max-width: $break-xs) {
            top: 6px;
          }
          &::before {
            content: "";
            width: 20px;
            height: 20px;
            transform: scale(0);
            background-color: $color-accent;
            clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
          }
          &:checked {
            &::before {
              transform: scale(1);
            }
          }
        }
      }
      .bt-form-message,
      .form-submit {
        width: 100%;
      }
      .form-submit {
        margin: 0;
      }
      label {
        font-family: $primary-font;
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
        color: $color-primary;
        margin-bottom: 14px;
      }
      input[type="text"],
      textarea {
        width: 100%;
        max-width: calc(100% - 48px);
        min-height: unset;
        display: block;
      }
      input[type="submit"] {
        font-family: $primary-font;
        text-transform: uppercase;
        padding: 11px 46px;
      }
    }
  }
  @media (max-width: $break-lg) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
  }
  @media (max-width: $break-sm) {
    .bt-content {
      .bt-text {
        font-size: 16px;
      }
    }
  }
  @media (max-width: $break-xs) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
    .bt-comment {
      .bt-avatar {
        width: 45px;
        left: inherit;
        border: 2px solid #ffff;
        top: inherit;
        position: relative;
      }
    }
    .bt-content {
      .bt-infor {
        gap: 10px;
        align-items: baseline;
      }
      .bt-name {
        font-size: 18px;
      }
      .bt-date {
        font-size: 14px;
      }
      .bt-meta {
        padding-left: 20px;
        gap: 12px;
        justify-content: normal;
      }
      .bt-text {
        padding: 30px 20px;
      }
      .comment-reply-link {
        font-size: 14px;
        border-radius: 5px;
        padding: 6px 20px;
      }
    }
    .comment-respond {
      .comment-reply-title {
        padding: 20px;
      }
      .comment-form {
        padding: 30px 20px;
        .bt-form-author,
        .bt-form-email {
          width: 100%;
        }
      }
    }
  }
}
