.bt-form-rating {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  &__label {
    margin: 0 !important;
  }
  &__field {
    padding: 0;
  }
  &__list {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    input {
      display: none;
    }
    label {
      font-size: 0 !important;
      line-height: 0 !important;
      margin: 0 !important;
      cursor: pointer;
      svg {
        width: 16px;
        height: auto;
        fill: #cdcdcd;
      }
    }
    input:checked ~ label svg,
    input + label:hover ~ label svg,
    input + label:hover svg {
      fill: #efcf0a;
    }
  }
}

.bt-comment-stars {
  display: flex;
  gap: 4px;
  font-size: 0;
  line-height: 0;
  span {
    &.bt-filled svg {
      fill: #efcf0a;
    }
    svg {
      fill: #cdcdcd;
      width: 16px;
      height: auto;
    }
  }
}

.bt-comment-wrapper {
  margin-top: 52px;
  .bt-heading-comment {
    @extend .__bt-block-heading-style;
    margin-bottom: 30px;
    padding: 0;
    z-index: 9;
    text-transform: initial;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    &::before {
      z-index: 10;
    }
    &:after {
      content: " ";
      display: inline-block;
      width: 100%;
      height: 1px;
      background: #d9d9d9;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 8;
    }
    span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: inherit;
      padding: 0 29px 0 18px;
      position: relative;
      z-index: 9;
      background-color: #fff;
      font-family: $primary-font;
    }
  }
  .bt-comment-item {
    &.depth-5 {
      .bt-comment {
        padding: 30px;
      }
    }
    .bt-comment-item {
      margin-left: 40px;
    }
  }
  .trackback,
  .pingback {
    .bt-comment {
      padding: 30px;
      .bt-avatar {
        display: none;
      }
    }
    .bt-content {
      width: 100%;
    }
  }
  .bt-comment {
    position: relative;
    margin-top: 20px;
    .bt-avatar {
      width: 90px;
      line-height: 0;
      position: absolute;
      left: 38px;
      border: 10px solid #ffff;
      border-radius: 50%;
      top: 20px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
  .bt-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .bt-meta {
      background-color: $color-accent;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 18px 24px 18px 180px;
      margin: 0;
      border-radius: 20px 20px 0px 0px;
      gap: 15px;
      justify-content: space-between;
    }
    .bt-infor {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 54px;
    }
    .bt-name {
      font-size: 22px;
      line-height: 24px;
      margin: 0;
      color: #fff;
      font-weight: 700;
      text-transform: capitalize;
    }
    .bt-date {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .bt-text {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      padding: 26px 63px 39px 180px;
      border-radius: 0 0 20px 20px;
      border: 1px solid #dadada;
      border-top: none;
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
    }
    .comment-reply-link {
      color: #fff;
      font-family: $primary-font;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border-radius: 8px;
      background: #111;
      padding: 9px 26px;
    }
  }
  .comment-respond {
    background: #f5f5f5;
    margin-top: 52px;
    padding: 50px 45px;
    border-radius: 15px;
    .comment-reply-title {
      @extend .__bt-block-heading-style;
      position: relative;
      margin-bottom: 30px;
      padding-right: 140px;
      a {
        text-decoration: underline;
        text-underline-offset: 6px;
      }
      small {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .comment-form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .bt-logged-in-as {
        width: 100%;
        a {
          text-decoration: underline;
        }
      }
      .bt-form-author,
      .bt-form-email {
        width: calc(50% - 10px);
      }
      .bt-form-message,
      .form-submit {
        width: 100%;
      }
      .form-submit {
        margin: 0;
      }
      label {
        font-family: $primary-font;
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
        color: $color-primary;
        margin-bottom: 12px;
      }
      input[type="text"],
      textarea {
        width: 100%;
        max-width: calc(100% - 48px);
        min-height: unset;
      }
      input[type="submit"] {
        font-family: $primary-font;
        text-transform: uppercase;
      }
    }
  }
  @media (max-width: $break-lg) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
  }
  @media (max-width: $break-sm) {
    .bt-comment {
      padding: 30px 90px 30px 30px;
    }
    .bt-content {
      .bt-text {
        font-size: 16px;
      }
      .comment-reply-link {
        width: 84px;
        font-size: 14px;
      }
    }
    .comment-respond {
      padding: 40px 30px;
    }
  }
  @media (max-width: $break-xs) {
    .bt-comment-item .bt-comment-item {
      margin-left: 30px;
    }
    .trackback,
    .pingback {
      .bt-comment {
        padding: 30px 15px;
      }
    }
    .bt-comment {
      padding: 30px 15px 65px;
      .bt-avatar {
        width: 42px;
      }
      .bt-content {
        width: 100%;
      }
    }
    .bt-content {
      .bt-name {
        font-size: 18px;
      }
      .bt-date {
        font-size: 14px;
      }
      .comment-reply-link {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-radius: 0 0 15px 15px;
      }
    }
    .comment-respond {
      padding: 30px 15px;
      .comment-form {
        .bt-form-author,
        .bt-form-email {
          width: 100%;
        }
      }
    }
  }
}
