.elementor-element.bt-site-footer-top{
  > .e-con-inner{
    > .elementor-element{
      @media (min-width: 1025px) and (max-width: 1199.98px) { 
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.elementor-element{
  &.bt-site-footer-bottom{
    > .e-con-inner{
      @media (min-width: 1025px) and (max-width: 1199.98px) { 
        gap: 15px 15px;
      }
  
      > .elementor-element{
        &:nth-child(2){
          @media (min-width: 480px) and (max-width: 767.98px) { 
            flex-wrap: nowrap;
            gap: 15px;
          }
        }
      }
  
      .elementor-widget-heading .elementor-heading-title{
        @media (min-width: 1025px) and (max-width: 1199.98px) { 
          font-size: 20px;
        }
      }
  
      .elementor-nav-menu--main{
        li {
          a{
            @media (min-width: 1025px) and (max-width: 1199.98px) { 
             font-size: 18px !important;
            }
          }
        }
      }
    }
  
    .bt-elwg-site-social {
      a{
        width: 43px;
        height: 43px;
        &:nth-child(4){
          display: none;
        }
      }
    }
  
    .elementor-widget-social-icons{
      .elementor-grid-item{
        .elementor-social-icon{
          &.elementor-social-icon-linkedin-in{
            box-sizing: border-box;
            border:2px solid #4D93E9;
          }
        }
      }
    }
  
    .bt-elwg-site-infor{
      a{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  &.bt-footer-style-1{
    > .elementor-element{
      &:first-child{
        h2.elementor-heading-title{
          @media (min-width: 1025px) and (max-width: 1199.98px) { 
            font-size: 20px;
          }
        }

        .elementor-widget-icon-list{

          > .elementor-widget-container{
            @media (min-width: 1200px) and (max-width: 1379.98px) { 
              padding-left: 15px;
            }

            @media (min-width: 1025px) and (max-width: 1199.98px) { 
              padding-left: 10px;
            }
          }

          .elementor-icon-list-item > a{
            @media (min-width: 1200px) and (max-width: 1379.98px) { 
              font-size: 16px;
            }

            @media (min-width: 1025px) and (max-width: 1199.98px) { 
              font-size: 14px;
            }
          }
        }
      }
    }
  } 

  &.bt-footer-style-3{
    > .e-con-inner{
      > .elementor-element{
        &:last-child{
          .elementor-element{
            &:first-child{
              @media (min-width: 1025px) and (max-width: 1279.98px) { 
                gap: 20px;
              }

              .bt-elwg-site-copyright {
                @media (min-width: 1025px) and (max-width: 1279.98px) { 
                  font-size: 17px;
                }
              }
            }

            .elementor-nav-menu--layout-horizontal .elementor-nav-menu>li{
              > a{
                @media (min-width: 1025px) and (max-width: 1279.98px) { 
                  font-size: 17px;
                }
              }

              &:not(:last-child){
                > a{
                  @media (min-width: 1025px) and (max-width: 1199.98px) { 
                    margin-inline-end: calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
                  }
                }
              }

              &:not(:first-child){
                > a{
                  @media (min-width: 1025px) and (max-width: 1199.98px) { 
                    margin-inline-start:calc(var(--e-nav-menu-horizontal-menu-item-margin) / 2);
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  
  &.bt-newsletter-footer-style-3{
    .elementor-widget-shortcode{
      .tnp-subscription-minimal {
        form {
          &::before, &::after{
            content: " ";
            display: inline-block;
            position: absolute;
          }

          &::before{
            width: 9px;
            height: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../images/arrow-submit.png);
            bottom: 8px;
            right: 30px;
            z-index: 9;
          }

          &::after{
            width: 45px;
            height: 48px;
            background-color: $color-secondary;
            bottom: 8px;
            right: 28px;
            bottom: -9px;
            right: 13px;
            border-radius: 10px;
            z-index: 8;
          }

          input{
            &.tnp-email, &.tnp-email::placeholder{
              font-size: 16px;
              line-height: normal;
            }

            &.tnp-email{
              height: 53px;
              padding: 16px 67px 16px 58px;
              max-width: 100%;
              background-position: center left 26px;
            }

            &.tnp-submit{
              font-size: 0;
              width: 45px;
              height: 48px;
              border-radius: 10px;
              min-width: 45px;
              padding: 0;
              top: inherit;
              transform: translateY(0);
              bottom: -9px;
              right: 13px;
              background-color: transparent;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}