.bt-site-footer-bottom{
  .elementor-widget-social-icons{
    .elementor-grid-item{
      .elementor-social-icon{
        &.elementor-social-icon-linkedin-in{
          box-sizing: border-box;
          border:2px solid #4D93E9;
        }
      }
    }
  }

  .bt-elwg-site-infor{
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
}