.gform-theme--framework
  :where(
    :not(html):not(iframe):not(canvas):not(img):not(svg):not(video)
      :not(svg *):not(symbol *):not(.gform-theme__no-reset--el)
      :not(.gform-theme__no-reset--children *):not(.gform-theme__disable)
      :not(.gform-theme__disable *):not(.gform-theme__disable-reset)
      :not(.gform-theme__disable-reset *):not(.gform_heading *):not(.gfield--type-html *)
      :not(.gfield--type-section *):not(.form_saved_message > *)
      :not(.form_saved_message_sent > *):not(.gform_confirmation_message *)
      :not(.wp-editor-container):not(.mce-tinymce):not(.mce-tinymce *)
      :not(.wp-editor-area):not(.gfield_description > *)
      :not(.gform-field-label--type-inline > :not(span))
  ) {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  display: revert;
  all: revert-layer;
}

.gform_wrapper {
  &.bt-get-price-form_wrapper {
    .gform-field-label--type-inline {
      --gf-local-color: #fff;
      --gf-local-font-size: 18px;
    }
  }
  &.gform-theme--api,
  &.gform-theme--foundation {
    --gf-ctrl-choice-check-color: var(--e-global-color-accent, #1fbecd);
    --gf-form-gap-x: 12px;
    --gf-form-gap-y: 12px;
    --gf-font-size-secondary: 18px;
    --gf-color-primary: #1fbecd;
  }
  .gform_heading {
    margin-bottom: 30px;
    .gform_title {
      font-size: 36px;
      font-weight: 700;
      margin: 0;
    }
    .gform_description {
      font-size: 20px;
      font-weight: 500;
      line-height: 150%;
      margin: 4px 0 0;
    }
  }
  .gform-body {
    input[type="checkbox"],
    input[type="radio"] {
      margin-top: 2px;
      outline: none;
      box-shadow: none;
    }
    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      height: auto;
      color: $color-text;
      background: #ffffff;
      padding: 16px 24px;
      border: 1px solid #dadada;
      border-radius: 10px;
      outline: none;
      box-shadow: none;
    }
    select.select2-hidden-accessible {
      width: 100% !important;
    }
    textarea {
      min-block-size: auto !important;
      height: 130px;
    }
  }
  .gform_footer {
    flex-wrap: nowrap !important;
    position: relative;
    > *:not(input) {
      position: absolute;
      right: 10px;
    }
    input[type="submit"] {
      position: relative;
      display: inline-block !important;
      font-size: 18px !important;
      font-weight: 700 !important;
      line-height: 150% !important;
      text-transform: uppercase !important;
      text-align: center !important;
      color: #ffffff !important;
      background: $color-accent !important;
      padding: 16px 40px !important;
      border: none !important;
      border-radius: 10px !important;
      box-shadow: none !important;
      &.gform-button--width-full {
        width: 100% !important;
      }
    }
  }
  .gform_validation_errors {
    display: none !important;
  }
  .gform_confirmation_message {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
body #gform_wrapper_3[data-form-index="0"].gform-theme,
body #gform_wrapper_2[data-form-index="0"].gform-theme {
  --gf-color-primary: var(--e-global-color-accent, #1fbecd);
}
body #gform_wrapper_1[data-form-index="0"].gform-theme,
body #gform_wrapper_4[data-form-index="0"].gform-theme {
  --gf-color-primary: #ffffff;
}
