.__bt-heading-style{
    @media (min-width: 1200px) and (max-width: 1439.98px) { 
        font-size: 55px;
    }

    @media (min-width: 1025px) and (max-width: 1199.98px) { 
        font-size: 45px;
    }
}

.elementor-element{

    &.bt-ss-buy-sell-car{
        > .elementor-element {
            &:first-child{
                > .elementor-element {
                    &:first-child{
                        @media (min-width: 1450px) {
                            padding-left: calc((100% - var(--container-max-width)) / 2);
                        }
                        
                    }

                    &:last-child{
                        @media (min-width: 1450px) {
                            padding-right: calc((100% - var(--container-max-width)) / 2);
                        }
                    }
                }
            }

            .elementor-widget-image{
                transform: translateX(-50%);
            }
        }
    }

    &.bt-hero-home{
        .bt-elwg-highlighted-heading {
            h1, h2, h3, h4, h5, h6{
                @extend .__bt-heading-style;
            }
        }

        .elementor-widget-image{
            &.bt-hero-image{
                > .elementor-widget-container{
                    @media (min-width: 1025px) and (max-width: 1600.98px) { 
                        margin-right: 0;
                    }
                }
            }
        }

    }
}